* {
	padding: 0;
	border: 0;
	margin: 0;
	font-family: sans-serif;
}
:focus {
	outline: none;
}
nav {
	display: flex;
	justify-content: center;
	margin: 30px 0;
}

nav > div:not(:last-child) {
	margin-right: 10px;
}
h1 {
	text-align: center;
	text-transform: capitalize;
	font-family: sans-serif;
	font-size: 3rem;
	color: hsl(182, 25%, 65%);
	cursor: default;
}
a {
	text-decoration: none;
}
header {
	height: 156px;
	background-color: hsl(182, 25%, 35%);
	margin-bottom: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10%;
}
header a {
	color: hsla(0, 0%, 100%, 0.76);
	font-size: 1.25rem;
	transition: .15s ease-in;
}
header a:hover,
header a:focus {
	color: white;
}
header div a:not(:last-child) {
	margin-right: 10px;
}
nav a {
	text-decoration: none;
	background-color: rgb(247, 112, 120);
	color: white;
	padding: 10px 20px;
	font-size: 1.1rem;
	text-transform: uppercase;
	transition: .15s ease-in;
}
nav a:hover,
nav a:focus {
	background-color: hsl(356, 89%, 50%);
}
nav a:first-of-type {
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}
nav a:last-of-type {
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
}
.container {
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
	flex-flow: row wrap;
}
.box {
	flex: 1 1 350px;
	height: 500px;
	background-color: cadetblue;
	margin: 20px;
	transition: .2s ease-in;
	border-radius: 7px;
	position: relative;
}
.box p {
	position: relative;
	display: inline-block;
	left: 20px;
	top: 20px;
	background-color: rgb(247, 112, 120);
	color: white;
	padding: 7px 15px;
	border-radius: 7px;
	text-transform: uppercase;
	font-family: sans-serif;
}
.box > div {
	position: absolute;
	width: 100%;
	height: 20%;
	bottom: 0;
	background-color: rgb(247, 112, 120);
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}
.box > div > div {
	height: 10px;
	width: 30%;
	background-color: hsl(356, 89%, 30%);
	margin-right: 10%;
	border-radius: 7px;
}
.box:hover,
.box:focus {
	outline: none;
	transform: translateY(-10px);
	cursor: pointer;
	opacity: .9;
	box-shadow: 0px 8px 13px 7px #00000024;
}
@media screen and (max-width: 794px) {
	nav {
		flex-direction: column;
	}
	nav a {
		display: block;
		text-align: center;
	}
	nav a {
		margin-bottom: 5px;
	}
	nav > div:not(:last-child) {
		margin-right: 0;
	}
	nav a:first-of-type {
		border-radius: 0;
	}
	nav a:last-of-type {
		border-radius: 0;
	}
}
